[submodule "regio"]
	path = regio
	url = https://github.com/ke0m/regio
[submodule "mdsuops"]
	path = mdsuops
	url = https://github.com/ke0m/mdsuops.git
[submodule "sivu"]
	path = sivu
	url = https://github.com/ke0m/sivu.git
